module.exports = {
    // telegram bot token and username, get from @BotFather
    token: '1234567890:YOURTOKENHERE',
    username: 'MyAwesomeStickerBot',

    // api host
    api_host: '',
    // api token for uploading the packs to server
    api_token: ''
    // imagemagick convert path, defaults to 'convert'
    im_convert_path: 'convert',

    // max images allowed in one pack
    maximages: 50,
    // file storage path
    file_storage: './storage',

    // use language
    default_lang: 'en',
    available_lang: {
        'en': ['English', 'English'],
        'de': ['German', 'Deutsch'],
        'zh-hans': ['简体中文', '中国'],
        'zh-hant': ['正體中文', '中國']
    }
};

